<html>
<head>
	<title>Piratemoon's Blog</title>
</head>

<body>
	<div>
		<h1><a href="/"> Piratemoon's Blog</a></h1>
	</div>


	<div>
		<p>I published this on 14.09.2019, 12.57</p>
		<h2><a href="">This is my first post!</a></h2>
		<p>I am trying to make a post and now we are in HTML I am happier.</p>
	</div>
	<div>
		<p>I published this on 14.09.2019, 12.59</p>
		<h2><a href="">Post number two, wherein I fail</a></h2>
		<p>I am a bit confused as to what the heck I have been doing aside from making a website.</p>
</body>
</html>